[Unit]
Description=Regular background program processing daemon
Documentation=man:cron(8)
After=remote-fs.target nss-user-lookup.target

[Service]
EnvironmentFile=-/etc/default/cron
ExecStart=/usr/sbin/cron -f
IgnoreSIGPIPE=false
KillMode=control-group
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
